# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
import statsmodels.api as sm
from scipy.stats import pearsonr
from statsmodels.stats.proportion import proportions_ztest
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

##### We'll start by importing the data from Automobile.csv into a pandas dataframe, and replacing '?'(missing values) as null:

In [2]:
df = pd.read_csv("imports-85.data",header=None,names=['symboling','normalizedLosses','make','fuelType','aspiration','numofdoors','bodyStyle','driveWheels','engineLocation','wheelBase','length','width','height','curbWeight','engineType','cylinders','engineSize','fuelSystem','bore','stroke','compRatio','horsepower','peak_rpm','city_mpg','highway_mpg','price'],na_values='?')

In above step column names are initialized as there is no column name in dataset initially.

## Time for Data Preprocessing..

##### check the dataset

In [3]:
df.head()

,symboling,normalizedLosses,make,fuelType,aspiration,numofdoors,bodyStyle,driveWheels,engineLocation,wheelBase,...,engineSize,fuelSystem,bore,stroke,compRatio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

##### check if null values is present in dataset or not.....

In [4]:
df.isnull().sum()

symboling            0
normalizedLosses    41
make                 0
fuelType             0
aspiration           0
numofdoors           2
bodyStyle            0
driveWheels          0
engineLocation       0
wheelBase            0
length               0
width                0
height               0
curbWeight           0
engineType           0
cylinders            0
engineSize           0
fuelSystem           0
bore                 4
stroke               4
compRatio            0
horsepower           2
peak_rpm             2
city_mpg             0
highway_mpg          0
price                4
dtype: int64

##### Replacing null values with mean() if it was continuous, else mode():

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   symboling         205 non-null    int64
 1   normalizedLosses  164 non-null    float64
 2   make              205 non-null    object
 3   fuelType          205 non-null    object
 4   aspiration        205 non-null    object
 5   numofdoors        203 non-null    object
 6   bodyStyle         205 non-null    object
 7   driveWheels       205 non-null    object
 8   engineLocation    205 non-null    object
 9   wheelBase         205 non-null    float64
 10  length            205 non-null    float64
 11  width             205 non-null    float64
 12  height            205 non-null    float64
 13  curbWeight        205 non-null    int64
 14  engineType        205 non-null    object
 15  cylinders         205 non-null    object
 16  engineSize        205 non-null    int64
 17  fuelSystem        205 non-null    object
 18  bore              201 non-null    float64
 19  stroke            201 non-null    float64
 20  compRatio         205 non-null    float64
 21  horsepower        203 non-null    float64
 22  peak_rpm          203 non-null    float64
 23  city_mpg          205 non-null    int64
 24  highway_mpg       205 non-null    int64
 25  price             201 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

In [6]:
df.normalizedLosses.fillna(df.normalizedLosses.mean(),inplace=True)

In [7]:
df.numofdoors.fillna(df.numofdoors.mode().max(),inplace=True)

In [8]:
df.bore.fillna(df.bore.median(),inplace=True)

In [9]:
df.stroke.fillna(df.stroke.mean(),inplace=True)

In [10]:
df.horsepower.fillna(df.horsepower.mean(),inplace=True)

In [11]:
df.peak_rpm.fillna(df.peak_rpm.mean(),inplace=True)

In [12]:
df.price.fillna(df.price.mean(),inplace=True)

##### Let's check once again the dataset contains any null or not:

In [13]:
df.isnull().sum()

symboling           0
normalizedLosses    0
make                0
fuelType            0
aspiration          0
numofdoors          0
bodyStyle           0
driveWheels         0
engineLocation      0
wheelBase           0
length              0
width               0
height              0
curbWeight          0
engineType          0
cylinders           0
engineSize          0
fuelSystem          0
bore                0
stroke              0
compRatio           0
horsepower          0
peak_rpm            0
city_mpg            0
highway_mpg         0
price               0
dtype: int64

## Let's see what are the columns that affects price:

##### by using pearson and oneway annova

In [14]:
pearsonr(df.symboling,df.price)

(-0.0822014373631897, 0.24130433124264047)

In [15]:
pearsonr(df.normalizedLosses,df.price)

(0.13399873429274334, 0.05543057826318259)

In [16]:
pearsonr(df.wheelBase,df.price)

(0.5831681499789547, 4.527625545686765e-20)

In [17]:
pearsonr(df.length,df.price)

(0.6829862954386214, 1.6498873291220412e-29)

In [18]:
pearsonr(df.width,df.price)

(0.7286988175931839, 3.214520483804664e-35)

In [19]:
pearsonr(df.height,df.price)

(0.13438751871051802, 0.054719820484246985)

In [20]:
pearsonr(df.curbWeight,df.price)

(0.8208247333547289, 2.866332107027338e-51)

In [21]:
pearsonr(df.engineSize,df.price)

(0.8617522436859718, 9.669661923636975e-62)

In [22]:
pearsonr(df.bore,df.price)

(0.5323068133842811, 2.137613373309291e-16)

In [23]:
pearsonr(df.stroke,df.price)

(0.08209529554134323, 0.24191456857746702)

In [24]:
pearsonr(df.compRatio,df.price)

(0.07099036277901562, 0.31178249194905244)

In [25]:
pearsonr(df.horsepower,df.price)

(0.7579169537498174, 1.607670397813262e-39)

In [26]:
pearsonr(df.peak_rpm,df.price)

(-0.10085406591169073, 0.1501924695423236)

In [27]:
pearsonr(df.city_mpg,df.price)

(-0.6674492651600006, 8.463700497727447e-28)

In [28]:
pearsonr(df.highway_mpg,df.price)

(-0.6905257341183484, 2.232467405837684e-30)

In [29]:
stats.f_oneway(df.price[df.fuelType=='gas'],df.price[df.fuelType=='diesel'])

F_onewayResult(statistic=2.4958589760681935, pvalue=0.11570297526361666)

In [30]:
stats.f_oneway(df.price[df.aspiration=='std'],df.price[df.aspiration=='turbo'])

F_onewayResult(statistic=6.587289855140993, pvalue=0.010991046478632666)

In [31]:
stats.f_oneway(df.price[df.numofdoors=='four'],df.price[df.numofdoors=='two'])

F_onewayResult(statistic=0.35778516571700403, pvalue=0.5504056367624801)

In [32]:
stats.f_oneway(df.price[df.driveWheels=='fwd'],df.price[df.driveWheels=='rwd'],df.price[df.driveWheels=='4wd'])

F_onewayResult(statistic=67.5036668266912, pvalue=3.5392707916047903e-23)

In [33]:
stats.f_oneway(df.price[df.bodyStyle=='convertible'],df.price[df.bodyStyle=='hatchback'],df.price[df.bodyStyle=='sedan'],df.price[df.bodyStyle=='wagon'],df.price[df.bodyStyle=='hardtop'])

F_onewayResult(statistic=9.183927252573389, pvalue=7.844575720929884e-07)

In [34]:
stats.f_oneway(df.price[df.engineLocation=='front'],df.price[df.engineLocation=='rear'])

F_onewayResult(statistic=24.979629190446918, pvalue=1.2486063656822578e-06)

In [35]:
stats.f_oneway(df.price[df.engineType=='ohc'],df.price[df.engineType=='ohcf'],df.price[df.engineType=='ohcv'],df.price[df.engineType=='l'],df.price[df.engineType=='rotor'],df.price[df.engineType=='dohcv'])

F_onewayResult(statistic=8.880041876905345, pvalue=1.3919774978921531e-07)

In [36]:
stats.f_oneway(df.price[df.cylinders=='four'],df.price[df.cylinders=='six'],df.price[df.cylinders=='five'],df.price[df.cylinders=='eight'],df.price[df.cylinders=='two'],df.price[df.cylinders=='three'],df.price[df.cylinders=='twelve'])

F_onewayResult(statistic=45.72705376201727, pvalue=7.149269882584999e-35)

In [37]:
stats.f_oneway(df.price[df.fuelSystem=='mpfi'],df.price[df.fuelSystem=='2bbl'],df.price[df.fuelSystem=='idi'],df.price[df.fuelSystem=='1bbl'],df.price[df.fuelSystem=='spdi'],df.price[df.fuelSystem=='4bbl'],df.price[df.fuelSystem=='mfi'],df.price[df.fuelSystem=='spfi'])

F_onewayResult(statistic=14.797402090222409, pvalue=1.8657347748825717e-15)

### Columns that Not affects price:

symboling, normalizedLosses, make, height, numofdoors, stroke, compRatio, peak_rpm, fuelType

In [38]:
df.drop(['symboling','normalizedLosses','make','height','numofdoors','stroke','compRatio','peak_rpm','fuelType'],axis=1,inplace=True)

##### data after removing data which does not affect price:

In [39]:
df.columns

Index(['aspiration', 'bodyStyle', 'driveWheels', 'engineLocation', 'wheelBase',
       'length', 'width', 'curbWeight', 'engineType', 'cylinders',
       'engineSize', 'fuelSystem', 'bore', 'horsepower', 'city_mpg',
       'highway_mpg', 'price'],
      dtype='object')

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   aspiration      205 non-null    object
 1   bodyStyle       205 non-null    object
 2   driveWheels     205 non-null    object
 3   engineLocation  205 non-null    object
 4   wheelBase       205 non-null    float64
 5   length          205 non-null    float64
 6   width           205 non-null    float64
 7   curbWeight      205 non-null    int64
 8   engineType      205 non-null    object
 9   cylinders       205 non-null    object
 10  engineSize      205 non-null    int64
 11  fuelSystem      205 non-null    object
 12  bore            205 non-null    float64
 13  horsepower      205 non-null    float64
 14  city_mpg        205 non-null    int64
 15  highway_mpg     205 non-null    int64
 16  price           205 non-null    float64
dtypes: float64(6), int64(4), object(7)
memory usage: 27.4+ KB

#### For Linear Regression, dataset should have only int and float type values, but here some column contains string data type. so, I''ll going to replace those string values by integer values

In [41]:
df.aspiration = df.aspiration.replace('std',0)
df.aspiration = df.aspiration.replace('turbo',1)

In [42]:
df.bodyStyle = df.bodyStyle.replace('sedan',0)
df.bodyStyle = df.bodyStyle.replace('hatchback',1)
df.bodyStyle = df.bodyStyle.replace('wagon',2)
df.bodyStyle = df.bodyStyle.replace('hardtop',3)
df.bodyStyle = df.bodyStyle.replace('convertible',4)

In [43]:
df.driveWheels = df.driveWheels.replace('fwd',1)
df.driveWheels = df.driveWheels.replace('rwd',2)
df.driveWheels = df.driveWheels.replace('4wd',4)

In [44]:
df.engineLocation = df.engineLocation.replace('front',1)
df.engineLocation = df.engineLocation.replace('rear',2)

In [45]:
df.engineType = df.engineType.replace('ohc',0)
df.engineType = df.engineType.replace('ohcf',1)
df.engineType = df.engineType.replace('ohcv',2)
df.engineType = df.engineType.replace('dohc',3)
df.engineType = df.engineType.replace('l',4)
df.engineType = df.engineType.replace('rotor',5)
df.engineType = df.engineType.replace('dohcv',2)

In [46]:
df.cylinders = df.cylinders.replace('four',4)
df.cylinders = df.cylinders.replace('six',6)
df.cylinders = df.cylinders.replace('eight',8)
df.cylinders = df.cylinders.replace('five',5)
df.cylinders = df.cylinders.replace('two',2)
df.cylinders = df.cylinders.replace('three',3)
df.cylinders = df.cylinders.replace('twelve',12)

In [47]:
df.fuelSystem = df.fuelSystem.replace('mpfi',0)
df.fuelSystem = df.fuelSystem.replace('2bbl',1)
df.fuelSystem = df.fuelSystem.replace('idi',2)
df.fuelSystem = df.fuelSystem.replace('1bbl',3)
df.fuelSystem = df.fuelSystem.replace('spdi',4)
df.fuelSystem = df.fuelSystem.replace('4bbl',5)
df.fuelSystem = df.fuelSystem.replace('mfi',0)
df.fuelSystem = df.fuelSystem.replace('spfi',0)

##### After replace Let's see the dataset

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   aspiration      205 non-null    int64
 1   bodyStyle       205 non-null    int64
 2   driveWheels     205 non-null    int64
 3   engineLocation  205 non-null    int64
 4   wheelBase       205 non-null    float64
 5   length          205 non-null    float64
 6   width           205 non-null    float64
 7   curbWeight      205 non-null    int64
 8   engineType      205 non-null    int64
 9   cylinders       205 non-null    int64
 10  engineSize      205 non-null    int64
 11  fuelSystem      205 non-null    int64
 12  bore            205 non-null    float64
 13  horsepower      205 non-null    float64
 14  city_mpg        205 non-null    int64
 15  highway_mpg     205 non-null    int64
 16  price           205 non-null    float64
dtypes: float64(6), int64(11)
memory usage: 27.4 KB

### Splitting the dataset into training and testing set

In [49]:
x = df.drop(['price'],axis=1)

In [50]:
y = df['price']

In [51]:
train_x,test_x,train_y,test_y= train_test_split(x,y,test_size=0.2,random_state=42)

### Build a Linear model

In [52]:
model = LinearRegression()
model.fit(train_x,train_y)

LinearRegression()

In [53]:
predictions = model.predict(test_x)

In [54]:
predictions

array([23537.42898672, 20127.55433323, 10483.92807594, 12128.64553344,
       25262.15442499,  6336.92150416,  6079.93275661,  7979.42800193,
        8079.63075093,  7230.70820773, 16475.81292635,  8061.84744301,
       14964.06327579, 12803.2187308 , 39357.55231694,  6206.89432872,
       -3584.8067507 , 16552.99319875, 11490.57297634,  8320.85719624,
       12261.44474004, 19656.51675528,  5812.31425233,  2285.22537354,
        6599.724045  , 24488.1020121 , 13644.48371662, 15302.4871689 ,
        5922.22698877, 15698.30659639, 25451.86986705,  6250.42821806,
        9712.31150553, 20955.29751732,  8452.55606969, 24328.4123948 ,
       11977.58799127,  7873.17932006,  4916.17604703, 16672.34816801,
        7441.3323669 ])

### Accuracy Check:

In [55]:
score = str(model.score(test_x,test_y))
print(score[2:4]+'%')

76%