# Importing Libraries

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

### Read the dataset

In [2]:
df = pd.read_csv("tic-tac-toe.data")

### Check the dataset

In [3]:
df.head()

   x x.1 x.2 x.3  o o.1 x.4 o.2 o.3  positive
0  x   x   x   x  o   o   o   x   o  positive
1  x   x   x   x  o   o   o   o   x  positive
2  x   x   x   x  o   o   o   b   b  positive
3  x   x   x   x  o   o   b   o   b  positive
4  x   x   x   x  o   o   b   b   o  positive

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 957 entries, 0 to 956
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   x         957 non-null    object
 1   x.1       957 non-null    object
 2   x.2       957 non-null    object
 3   x.3       957 non-null    object
 4   o         957 non-null    object
 5   o.1       957 non-null    object
 6   x.4       957 non-null    object
 7   o.2       957 non-null    object
 8   o.3       957 non-null    object
 9   positive  957 non-null    object
dtypes: object(10)
memory usage: 74.9+ KB

In [5]:
df.describe()

          x  x.1  x.2  x.3    o  o.1  x.4  o.2  o.3  positive
count   957  957  957  957  957  957  957  957  957       957
unique    3    3    3    3    3    3    3    3    3         2
top       x    x    x    x    x    x    x    x    x  positive
freq    417  377  417  377  458  378  417  378  418       625

In [6]:
df.shape

(957, 10)

### Check if null values is present in dataset or not...

In [7]:
df.isnull().sum()

x           0
x.1         0
x.2         0
x.3         0
o           0
o.1         0
x.4         0
o.2         0
o.3         0
positive    0
dtype: int64

#### For Logesstic Regression all values should be int or float. Not String. Here, dataset contains only string type data. so I'll replace string to int. (positive - 1, negative - 0, x - 2, y - 3, b- 4)

In [8]:
df = df.replace('negative',0)
df = df.replace('positive',1)
df = df.replace('x',2)
df = df.replace('o',3)
df = df.replace('b',4)

##### check dataset once again..

In [9]:
df.head()

   x  x.1  x.2  x.3  o  o.1  x.4  o.2  o.3  positive
0  2    2    2    2  3    3    3    2    3         1
1  2    2    2    2  3    3    3    3    2         1
2  2    2    2    2  3    3    3    4    4         1
3  2    2    2    2  3    3    4    3    4         1
4  2    2    2    2  3    3    4    4    3         1

### Splitting the dataset into training and testing set

In [10]:
x = df.drop(['positive'],axis=1)

In [11]:
y = df['positive']

In [12]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2,random_state=42)

### Build a model (Logistic Regression):

In [13]:
model = LogisticRegression()
model.fit(train_x, train_y)

LogisticRegression()

In [14]:
predictions = model.predict(test_x)

In [15]:
predictions

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1], dtype=int64)

### Checking the accuracy

In [16]:
score = str(model.score(test_x,test_y))
print(score[2:4]+'%')

70%